fastapi
langchain
boto3
chardet
langchain-aws
langchain_community
numpy
pydantic
sqlalchemy
uvicorn
docx2txt
pypdf
Elasticsearch
python-dotenv
langchain-elasticsearch
python-docx
faiss-cpu
pinecone-client
tiktoken
ipywidgets
matplotlib
anthropic
transformers
openpyxl
python-pptx